[Desktop Entry]
Name=Flat-Remix-Darkest-NoBorder
X-KDE-PluginInfo-Author=Daniel Ruiz de Alegría
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=daniel@drasite.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-Name=Flat-Remix-Darkest-NoBorder
X-KDE-PluginInfo-Version=1.0.0
